@model IEnumerable<Circular_Bus_App.Models.Database.Supervisor>

@{
    ViewBag.Title = "SupervisorList";
}

<h2>SupervisorList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.S_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.S_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S_Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
